<?xml version="1.0"?>
<launch>
    <include file="$(find migrave_audio_recorder)/ros/launch/migrave_audio_recorder.launch" />
    <include file="$(find migrave_video_recorder)/ros/launch/migrave_video_recorder.launch" />
    <include file="$(find migrave_game_performance_recorder)/ros/launch/migrave_game_performance_recorder.launch" />
    <include file="$(find migrave_skeleton_recorder)/ros/launch/migrave_skeleton_recorder.launch" />
</launch>